<div class="container">
    <h3 class="text-center">Welcome to bookapi</h3><hr>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-small">
                <div class="card-body">
                    <form>
                        <input type="hidden" name="id" [(ngModel)]="book.id" />
                        <div class="form-group">
                            <label for="title">Book Title</label>
                            <input type="text" class="form-control" [(ngModel)]="book.title" name="title" />
                        </div>
                        <div class="form-group">
                            <label for="title">Author</label>
                            <input type="text" class="form-control" [(ngModel)]="book.author" name="author" />
                        </div>
                        <button class="btn btn-success btn-sm btn-block" (click)="addBook();">Add Book</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <table class="table table-bordered table-striped">
                <thead style="background: lightblue;">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books">
                        <td>{{ book.id }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td><button class="btn btn-sm btn-warning" (click)="getBookById(book.id);">Update</button>&nbsp;&nbsp;<button class="btn btn-sm btn-danger" (click)="deleteBook(book.id);">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>